.new-game {
  display: flex;
}

.new-game header {
  height: 56px;
}

.new-game {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  height: 100%;
}

.new-game header {
  order: 1;
  flex: 0 1 auto;
  align-self: stretch;
}

.new-game--content {
  order: 2;
  flex: 2 1 auto;
  align-self: stretch;
}

.new-game--footer {
  order: 3;
  flex: 0 1 auto;
  align-self: stretch;
}

.list-title {
  text-align: left;
}